@import "../../styles/base/variable.less";
@import "../../styles/base/mixin.less";

.signin_background {
  .common_container();
  .signin_container {
    margin: 0 auto;
    width: 300px;
    .header {
      overflow: hidden;
    }
    .body {
      margin-top: 50px;
    }
    .form_wrap {
      border: 1px solid #555;
      border-radius: 5px;
      background-color: #222;
      margin-bottom: 30px;
      .form_header {
        padding: 10px;
        margin-bottom: 10px;
        color: #fff;
        border-bottom: 1px solid #555;
        span {
          padding: 0 3px;
        }
      }
      .form {
        padding: 10px;
        .form_control {
          display: flex;
          flex-direction: column;
          margin-bottom: 20px;
          padding: 0 10px;
          label {
            margin-bottom: 5px;
            color: #fff;
          }
          input {
            height: 25px;
            border-radius: 3px;
          }
        }
        button {
          border: 2px solid #555;
          border-radius: 3px;
          padding: 5px;
        }
        .btn {
          background-color: #333;
          color: #fff;
        }
        .button_hover {
          background-color: #666;
        }
      }
    }
  }
}
