@import "../../styles/base/reset.less";
@import "../../styles/base/mixin.less";
@import "../../styles/base/variable.less";

@btn_side: 35px;
@btn_radius: 2px;

.news_container {
  .common_container();
  .news_article_container {
    .news_list {
      width: 70%;
      margin: 50px auto;
      .list_head {
        padding: 3px;
        border-bottom: 1px solid #999;
        h2 {
          margin: 10px;
          font-size: 16px;
          color: #eee;
        }
      }
      .list_body {
        ul {
          li {
            position: relative;
            border-bottom: 1px solid #444;
            padding: 12px 15px;
            a {
              color: white;
              font-weight: 100;
            }
            a:hover {
              color: @red;
              text-decoration: underline;
            }
            .time_pattern {
              position: absolute;
              right: 10px;
              color: #777;
              font-weight: 100;
              font-size: 13px;
            }
          }
        }
      }
      .list_divide {
        width: 100%;
        padding: 10px 0;
        margin-top: 20px;
        ul {
          display: flex;
          justify-content: center;
          li {
            .page_btn {
              display: inline-block;
              width: @btn_side;
              height: @btn_side;
              line-height: @btn_side;
              font-size: 18px;
              background-color: white;
              text-align: center;
              border: 1px solid #eee;
            }
            .page_btn:hover {
              color: #da2f1d;
              background-color: #eee;
            }
            .left_btn {
              border-radius: @btn_radius 0 0 @btn_radius;
            }
            .right_btn {
              border-radius: 0 @btn_radius @btn_radius 0;
            }
          }
        }
      }
    }
  }
}
