@import "../../styles/base/variable.less";

.navigator {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  min-width: @minWidth;
  height: @navHeight;
  background-color: @black;
  border-bottom: 1px solid #555;
  ul {
    padding: 0 20px;
    li {
      float: left;
      a {
        display: inline-block;
        height: @navHeight;
        line-height: @navHeight;
        padding: 0 20px;
        color: @white;
        font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
      }
      .band_name {
        letter-spacing: 0.1em;
        font-size: 20px;
        font-weight: 500;
        cursor: default;
      }
    }
    .nav_item {
      a {
        transition: 0.3s;
      }
      a:hover {
        color: @red;
      }
      .sign_link {
        padding: 0;
      }
      .dot {
        color: @white;
        cursor: pointer;
        font-weight: 700;
      }
      .menu_wrap {
        position: relative;
        color: @white;
        .personal_menu {
          display: none;
          position: absolute;
          top: @navHeight;
          background-color: @black;
          padding: 0;
          overflow: hidden;
          z-index: 100;
          li {
            width: 100%;
            a {
              height: @personalMenuHeight;
              line-height: @personalMenuHeight;
            }
          }
        }
        .user_name {
          height: @navHeight;
          line-height: @navHeight;
          padding: 0 20px;
        }
        .user_name:hover {
          cursor: pointer;
        }
      }
      .menu_wrap:hover {
        .personal_menu {
          display: block;
        }
      }
    }
    .log_menu {
      padding: 0 20px;
    }
  }
  .left_menu {
    float: left;
  }
  .right_menu {
    float: right;
  }
}

/* always present */
.expand-transition {
  transition: all 1s ease;
}
/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
.expand-enter, .expand-leave {
  height: 0;
  opacity: 0;
}
