.navigator {
  width: 100%;
  background-color: black;
  overflow: hidden;
  ul {
    padding: 0 20px;
    li {
      float: left;
      a {
        display: inline-block;
        padding: 20px 15px;
        color: #fff;
      }
    }
    .nav_item {
      a:hover {
        color: red;
      }
    }
  }
  .left_menu {
    float: left;
  }
  .right_menu {
    float: right;
  }
}
